header {
  background-color: black;
  padding: 2rem 0;
  text-align: left;
}
header > a {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
}
header > a:hover {
  text-decoration: underline;
}

.main {
  background-color: #ffffff20;
}
